body {
    background-color: #141414;
    overflow-x: hidden;
    position: relative;
}

#coupan-container{
    width: 40%;
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: red;
    z-index: 10000;
    visibility: hidden;
}

#coupan-container img{
    width: 100%;
}
#coupan-container h1{
    color: #fff;
    font-size: 46px;
    text-align: center;
    margin-top: 20px;
}

#coupan-container p{
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
}

#coupan-container a{
    color: #fff;
    font-size: 26px;
    margin-top: 20px;
    text-decoration: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: block;
    text-align: center;
}

#coupan-container button{
    position: absolute;
    right: 0;
}





.netflix-padding-left {
    padding-left: 57px;
}

.netflix-padding-right {
    padding-right: 57px;
}

.netflix-nav {
    background-color: rgba(0, 0, 0, 0.534);
    position: fixed;
    width: 100vw;
    z-index: 1000;

}

.netflix-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    width: 100px;
}

.netflix-dropdown-box {
    display: none;
}

.netflix-dropdrown {
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 12px;
    font-size: 12px;
}

.netflix-dropdrown-menu {
    background-color: rgba(0, 0, 0, 0.685);
    font-size: 15px;
    color: white;
    margin-left: -80px;
    border-top: 3px solid white;
    margin-top: 30px;
}

.netflix-dropdrown-item{
    color: white;
    text-align: center;
    width: 250px;
    padding: 10px 20px;
    font-size: 15px;
}

.netflix-dropdrown-item:hover{
    background-color: rgba(255, 255, 255, 0.349);
}

.netflix-desktop-nav{
    display: block;
    align-items: center;
    margin-top: 6px;
    
}

.netflix-desktop-nav button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.514);
    border: none;
    font-size: 15px;
    
}
.netflix-desktop-nav button:hover{
    color: white;
}

i{
    color: rgba(255, 255, 255, 0.514);

    font-size: 15px;
    padding: 5px 10px;
}

i:hover{
    color: white;
}

/* video */

.netflix-home-video{
    width: 100%;
    position: relative;
    z-index: 10;
}

.netflix-home-video video{
    width: 100%;
}

.netflix-home-video .bottom{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, transparent, #141414);
}

.netflix-home-video .content{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

.netflix-home-video .content .title-left{
    margin-left: 100px;
}

.netflix-home-video .content .title-left img{
    margin-top: 190px;
}

/* card  netflix*/
.slider1{
    position: absolute ;
    top: 550px;
    z-index: 500;
    margin-left: 0%;
}

.netflix-card{
    width: 250px ;
    background-color: #141414;
    border-radius: 4px;
    transition: 0.2 linear;
    margin: 3px;
    position: relative;
}

.netflix-card:hover{
    transform: scale(1.3);
    z-index: 10;
}

.card-icon{
    color: #fff ;
    font-size: 28px;
    padding: 0;
    border-radius: 50% ;
    cursor: pointer;
}

.netflix-card-text{
    color: rgb(0, 185, 0);
    margin: 0%;
    font-size: 12px;
}

.netflix-card-text1{
    color: #fff;
    font-size: 12px;
    margin: 0%;
}

.card-body{
    display: none;
    padding: 10px 15px;
    /* position: absolute; */
    background-color: #141414;
}

.card-video{
    display: none;
}
.card:hover > .card-body{
    display: block;
}
.card:hover > .card-img-top{
    display: none;
}
.card:hover > .card-video{
    display: block;
}


.slider2{
    position: absolute ;
    top: 750px;
    z-index: 400;
    margin-left: 0%;
}

.slider3{
    position: absolute ;
    top: 950px;
    z-index: 300;
    margin-left: 0%;
}



.carousel-item{
    overflow-x: clip;

} 


/* footer */

.footer{
    background-color: #141414;
    position: relative;
    top: 90px;
    margin-top: 10px;

}

.footer ul{
    position: relative;
    list-style: none;
    border-bottom: 1px solid rgba(17, 16, 16, 0.473);
}

.footer ul li{
    font-size: 15px ;
    color: rgba(139, 135, 135, 0.658);
    margin: 5px;
}

.footer ul li:hover{
    color: white;
}